# Backend
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

# Frontend
/frontend/node_modules/
/frontend/dist/
/frontend/npm-debug.log
/frontend/yarn-error.log
/frontend/.angular/cache
/frontend/.sass-cache/
/frontend/connect.lock
/frontend/coverage/
/frontend/libpeerconnection.log
/frontend/testem.log
/frontend/typings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE - IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# System Files
.DS_Store
Thumbs.db 
backend/src/main/resources/webroot/main.7806a0caecb481ff.js
backend/src/main/resources/webroot/polyfills.c41a9cd097419e33.js
backend/src/main/resources/webroot/runtime.8643624d2943eedd.js
backend/src/main/resources/webroot/styles.226dd0c82637cf25.css
