/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 20px;
}

.card {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.btn-primary {
  background-color: #3f51b5;
  border-color: #3f51b5;
}

.btn-primary:hover {
  background-color: #303f9f;
  border-color: #303f9f;
} 